{{ define "AdminApproveUserPageEnd.tmpl" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
        .back-button {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #e0c6f2; /* Светлый оттенок фиолетового */
            color: #333;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .back-button:hover {
            background-color: #d1b7e3; /* Темнее фиолетового при наведении */
        }
    </style>
</head>
<body>
<button class="back-button" onclick="window.history.back();">Назад</button>
    <h1> Нет пользователей на регистрацию </h1>
</body>
{{ end }}