{{ define "AdminApproveUserPage.tmpl" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: rgb(255, 255, 255);
        }
        .MainCard {
            background-color:  rgb(255, 237, 252);
            border: solid 5px rgb(143, 39, 143) ;
            border-radius: 30px;
            margin: 1% 5%;
            padding: 2% 5%;
        }
        .UserData {
            font-size: 25px;
            margin: 1% 10%;
            padding: 2%;
            text-align: center;
            border-radius: 30px;
            background-color: #e2c7ff;   
        }
        .UserData1 {
            font-size: 25px;
            margin: 1% 10%;
            padding: 2%;
            text-align: center;
            border-radius: 30px;
            background-color: rgb(255, 237, 252);   
        }
        #NextUser {
            font-size: 25px;
            margin: 1% 20%;
            padding: 2%;
            text-align: center;
            border-radius: 30px;
            background-color: rgb(185, 2, 185);
        }
        input[type="submit"]
        {
            font-size:25px;
        }
        *:focus {
            outline: none;
        }
        .Next {
            background-color: red;
            font-size: 25px;

            text-align: center;


        }
        .Confirm{
            background-color: blue;
            font-size: 25px;
            text-align: center;
        }
        .Uebuttons {
            display: flex;
            justify-content: space-between;
        }
        .ActionButton {
            background-color:#e2c7ff;
            border: 5px solid rgb(185, 111, 255);
            padding: 2%;
            border-radius: 30px;
            color: rgb(0, 0, 0)
        }
    </style>
</head>
<body>
<div class="MainCard">
    <div class="UserData">
        Электронаая почта: {{.email}}
    </div>
    <div class="UserData">
        Имя: {{.name}}
    </div>
    <div class="UserData">
        Роль: {{.role}}
    </div>
    <div class="UserData">
        Телефон: {{.phone}}
    </div>
    <div class="UserData">
        Хозяйство: {{.hoz}}
    </div>
    <div class="UserData">
        Номер хозяйства: {{.hozNumber}}
    </div>
    <div class="UserData">
        Регион: {{.region}}
    </div>
    <div class="UserData1">
        <div class="Uebuttons">
            <div class="ActionButton" onclick="location.href={{.prevPage}}">&nbsp; Предыдущий </div>
            <div class="ActionButton" id="ConfirmUeButton">  Подтвердить  </div>
            <div class="ActionButton" id="RejectUeButton">  Отклонить  </div>
            <div class="ActionButton" onclick="location.href={{.nextPage}}">&nbsp; Следующий </div>
        </div>     
    </div> 
</div>
<script>
    document.getElementById('ConfirmUeButton')
        .addEventListener('click', function (event) {
            fetch("{{.approveUrl}}").then((res) => {
                res.text().then(res => {
                    alert(res)
                    location.reload()
                })                
            })
        });
    document.getElementById('RejectUeButton')
        .addEventListener('click', function (event) {
            fetch("{{.rejectUrl}}").then((res) => {
                res.text().then(res => {
                    alert(res)
                    location.reload()
                })
            })
        });
</script>
</body>
{{ end }}