{{ define "AdminIndex.tmpl"}}
<!DOCTYPE html>
<html lang="ru"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню админа</title>
    <style>

        body {
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .head_label {
            font-size: 40px;
        }

        .AdminChoise{
            width: 200px;
            height: 150px;
            border: 6px solid #5c37a0;
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(170, 146, 231, 0.1);
            transition: 0.3s all ease;
            backdrop-filter: blur(100px);
        }

        .AdminChoise:hover {
            background-color: rgba(111, 66, 193, 0.2);
            scale: 1.1;
        }

        .AdminChoiseButton {
            color: white;
            border: none;
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
        }

        .card_content{
            font-size: 20px;
        }

        .AdminLogout{
            width: 150px;
            height: 30px;
            border: 4px solid #5c37a0;
            border-radius: 18px;
            position: fixed;
            top: 10px;
            right: 20px;
            transition: 0.5s all ease;
            backdrop-filter: blur(100px);
            line-height: 30px;
        }

        .AdminLogout:hover {
            background-color: rgba(111, 66, 193, 0.2);
            scale: 1.05;
        }

    </style>
</head>

<body>
    <div style="
        display: flex; 
        justify-content: center; 
        background-color: #6f42c1;
        padding: 8px;
    ">
        <span class="head_label" style="width: fit-content; color: white;">Админ</span>
    </div>
    
    <div class="cards_container_outer" style="
        background: rgb(255,255,255);
        background: linear-gradient(333deg, rgba(255,255,255,1) 0%, rgba(111,66,193,1) 75%, rgba(111,66,193,1) 100%); 
        flex-grow: 1;
    "
    >
        <div class="cards_container_inner" style="
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 30px;
        ">
            <form action="/api/admin/cowTable">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Подтверждение коров
                        </div>
                    </div>
                </button>
            </form>

            <form action="/api/admin/checkUsers">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Пользователи
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/checkHoldings">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Холдинги
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/checkHozs">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Хозяйства
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/checkFarms">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Фермы
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/checkNews">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Новости
                        </div>
                    </div>
                </button> 
            </form>

            <form action="/api/admin/printUser/0">
                <button class="AdminChoiseButton" type="submit">
                    <div class="AdminChoise">
                        <div class="card_content">
                            Подтверждение регистрации пользователей
                        </div>
                    </div>
                </button> 
            </form>

                <button class="AdminChoiseButton" type="submit" onclick="logout()">
                    <div class="AdminLogout">
                        <div class="card_content">
                            Выход
                        </div>
                    </div>
                </button> 

        </div>
    </div>

</body>
<script>
function logout(){
    fetch('/api/admin/adminLogout', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            localStorage.setItem('showNotification', 'true');
            setTimeout(function() {
                location.reload();
            }, 100);
    }
</script>
</html>
{{ end }}