{{ define "Index.tmpl"}}
<!DOCTYPE html>
<html lang="ru">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4; /* Светлый фон */
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Высота на весь экран */
        }

        h1 {
            text-align: center;
            color: #6f42c1; /* Светло-фиолетовый цвет */
            margin-bottom: 20px;
        }

        .UserChoise {
            background-color: #ffffff; /* Белый фон для блока */
            border-radius: 8px;
            padding: 20px 20px 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center; /* Центрирование текста внутри блока */
			min-width: 20%;
			margin: 10px;
        }

        .UserChoiseButton {
            background-color: #6f42c1; /* Светло-фиолетовый цвет кнопки */
            color: #ffffff; /* Белый текст на кнопке */
            border: none;
            border-radius: 5px;
            padding: 10px 20px 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s; /* Плавное изменение цвета */
			min-width: 80%;
			min-height: 80%;
        }

        .UserChoiseButton:hover {
            background-color: #5a32a1; /* Темнее при наведении */
        }

        .message {
            margin-top: 20px;
            color: #666; /* Цвет текста сообщения */
            font-size: 14px;
        }
    </style>
</head>
<body>
    <h1>Выбор действия</h1>
    
    <div class="UserChoise">
        <form action="/api/gui/cowLoad">
            <button class="UserChoiseButton" type="submit">Загрузка коровы</button> 
        </form>
    </div>
    <div class="UserChoise">
        <form action="/api/gui/checkMilkLoad">
            <button class="UserChoiseButton" type="submit">Загрузка контрольных доений</button> 
        </form>
    </div>
    <div class="UserChoise">
        <form action="/api/gui/eventLoad">
            <button class="UserChoiseButton" type="submit">Загрузка вет. событий</button> 
        </form>
    </div>
    <div class="UserChoise">
        <form action="/api/gui/geneticLoad">
            <button class="UserChoiseButton" type="submit">Загрузка генотипирования</button> 
        </form>
    </div>
    <div class="UserChoise">
        <form action="/api/gui/gradeLoad">
            <button class="UserChoiseButton" type="submit">Загрузка оценок</button> 
        </form>
    </div>
    <div class="UserChoise">
        <form action="/api/gui/lactationLoad">
            <button class="UserChoiseButton" type="submit">Загрузка лактаций</button> 
        </form>
    </div>
    <div class="UserChoise">
        <form action="/api/gui/exteriorLoad">
            <button class="UserChoiseButton" type="submit">Загрузка экстерьера</button> 
        </form>
    </div>
    <div class="UserChoise">
        <form action="/api/gui/gtcLoad">
            <button class="UserChoiseButton" type="submit">Загрузка gtc</button> 
        </form>
    </div>
    <div class="UserChoise">
        <form action="/api/gui/partnerLoad">
            <button class="UserChoiseButton" type="submit">Загрузка партнера</button> 
        </form>
    </div>
    <div class="UserChoise">
        <form action="/api/gui/documentLoad">
            <button class="UserChoiseButton" type="submit">Загрузка документа</button> 
        </form>
    </div>
</body>
</html>
{{ end }}